<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/createWarehouse.css">
    <title>Document</title>
</head>
<body> 
    <div class="title">
        <p>BL Inventory Manager</p>
        <ul>
            <li><a href="/viewItems">View All Items</a></li>  
            <li><a href="/warehouses">View All Warehouses</a></li>
            <li><a href="/addItem">Add Item</a></li> 
            <li><a href="/addNewWarehouse" class="currentPage">Add Warehouses</a></li> 
            <li>About</li>
        </ul>
    </div>    
    <div class="messageError">
        <p><%=error%></p>
    </div>
    <div class="formCon"> 
        <form method="POST" name="newStorageForm" action="/submitNewWarehouse" onsubmit="return validateForm()">   
            <p class="formHeader">Create Warehouse</p>
            <label>Location</label>
            <input type="text" name="location"/>
            <label>Warehouse Name</label>
            <input type="text" name="warehouseName"/>
            <label>Warehouse</label> 
            <select name="warehouseAssigned"> 
                <option>Choose Warehouse Operation</option>
                <option>Warehouse in use</option>
                <option>Warehouse not in use</option>
            </select> 
            <input class="submit" type="submit" value="submit"/>
        </form>
    </div>
</body>
<script>
    function validateForm() {
    var itemName = document.forms["newStorageForm"]["location"].value;
    if (itemName == "") {
        alert("Warehouse must have a location.");
        return false;
    } 
    
    var itemName = document.forms["newStorageForm"]["warehouseName"].value;
    if (itemName == "") {
        alert("Warehouse must have a Name.");
        return false;
    } 

    var itemName = document.forms["newStorageForm"]["warehouseAssigned"].value;
    if (itemName == "Choose Warehouse Operation") {
        alert("What state/situation is the Warehouse in?");
        return false;
    } 
    
    }
</script>
</html>