<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/createItem.css">
    <title>Document</title>
</head>
    <body>
        <div class="title">
            <p>BL Inventory Manager</p>
            <ul>
                <li><a href="/viewItems">View All Items</a></li>  
            <li><a href="/warehouses">View All Warehouses</a></li>
            <li><a href="/addItem">Add Item</a></li> 
            <li><a href="/addNewWarehouse">Add Warehouses</a></li> 
            <li>About</li>
            </ul>
        </div>   
        <div class="formCon"> 
            <form method="POST" name="newItemForm" action="/submitNewItem" onsubmit="return validateForm()">   
                <p class="formHeader">Create Item</p>
                <label>Item Name</label>
                <input type="text" name="itemName"/>
                <label>Description</label>
                <input type="text" name="itemDescription"/>
                <label>Quanity</label>
                <input type="number" min="1" name='quanity'/>
                <label>Warehouse</label> 
                <select name="warehouseAssigned"> 
                    <option>Choose Warhouse</option>
                    <option>London</option>
                    <option>Southampton</option>
                    <option>Manchester</option>
                </select> 
                <input class="submit" type="submit" value="submit"/>
            </form>
        </div>
    </body> 
    <script>
        function validateForm() {
        var itemName = document.forms["newItemForm"]["itemName"].value;
        if (itemName == "") {
            alert("Item must have a name.");
            return false;
        } 
        
        var itemName = document.forms["newItemForm"]["itemDescription"].value;
        if (itemName == "") {
            alert("Item must have a description.");
            return false;
        } 

        var itemName = document.forms["newItemForm"]["quanity"].value;
        if (itemName == '0' || itemName == 0 || itemName == '') {
            alert("Item quanity must be higher than 0");
            return false;
        } 
        
        }
    </script>
</html>