<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/editWarehouse.css">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <p>BL Inventory Manager</p>
        <ul>
            <li><a href="/viewItems">View All Items</a></li>  
            <li><a href="/warehouses">View All Warehouses</a></li>
            <li><a href="/addItem">Add Item</a></li> 
            <li><a href="/addNewWarehouse">Add Warehouses</a></li> 
            <li>About</li>
        </ul>
    </div> 
    <div class="formCon"> 
        <form method="POST" name="newStorageForm" action="/submitEditedWarehouse/<%= OneWarehouses['_id'] %>">   
            <p class="formHeader">Edit Warehouse</p>
            <label>Location</label>
            <input type="text" name="location" id="location"/>
            <label>Warehouses Name</label>
            <input type="text" name="warehouseName" id="warehouseName"/>
            <label>Warehouse</label> 
            <select name="warehouseAssigned"> 
                <option id="warehouseAssigned">Warehouse in use</option>
                <option id="warehouseAssigned">Warehouse not in use</option>
            </select> 
            <input class="submit" type="submit" value="submit"/>
        </form>
        <div>
</body> 
    <script>
       document.getElementById('location').value = '<%= OneWarehouses['location'] %>'
        document.getElementById('warehouseName').value = '<%= OneWarehouses['warehouseName'] %>' 
        document.getElementById('warehouseAssigned').value = '<%= OneWarehouses['warehouseAssigned'] %>'  
    </script>
</html>